@import 'normalize.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
// @import 'tailwind.config.js';
@import 'tailwindcss/utilities';

:root {
    --blue500: #2b77e7;
    --blue700: #0a59cc;
    --blackDefault: #000000;
    --gray100: #f3f4f6;
    --gray200: #9ca3af40;
    --gray300: #D5DAE1;
    --red300: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
