@import 'normalize.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
// @import 'tailwind.config.js';
@import 'tailwindcss/utilities';

:root {
    --backgroundColor: #2579f2;
    --primaryFontColor: #000000;
    --discountFontPriceColor: #9ca3af;
    --discountBackground: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
